@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor  _httpContextAccessor

@{ HttpRequest request = _httpContextAccessor.HttpContext.Request;
   string returnUrl = request.Scheme + "://" + request.Host + "/User/ResetPassword"; 
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <aside class="col-sm-4"></aside>
    <aside class="col-sm-4">
        <div class="card">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1">Forgot Password</h4>
                <hr>
                <form asp-controller="User" asp-action="ForgotPasswordService">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                            </div>
                            <input name="Email" id="Email" class="form-control" placeholder="email" type="email" required>
                        </div>
                    </div>
                    <input name="ReturnUrl" id="ReturnUrl" type="hidden" value="@returnUrl" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Send  </button>
                    </div>
                </form>
            </article>
        </div>
    </aside>
    <aside class="col-sm-4"></aside>
</div>